
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .popup-content button {
    margin: 10px;
    
  }

  .popup-content :nth-child(2):hover{
    background-color: rgb(214, 74, 74);
    color: white;
  }
