.Header{
    margin: auto;
    width: 100%;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f6f6;
}

.Logo{
    width: 160px;
    height: 130px;
    margin-left: 20px;
    cursor:pointer;
}



.Header button{
    margin-right: 20px;
    width: 90px;

}
.Header button:nth-child(3){
    margin-right: 128px;


}

.Header img{
    margin-left: 100px;
    margin-top: -16px;

}

.Header button{

    border: 2px solid #2c3b4c;
    border-radius: 10%;
    background-color: white;
    color: #2c3b4c;

}

.Header button:hover {
    background-color: #5d6f89;
    color: white;
    border: 2px solid #2c3b4c;
    transition-duration: 0.4s;

  }
  .Header button:nth-child(3):hover {
    background-color:rgb(199, 73, 73) ;
    color: white;
    border: 2px solid black;
    transition-duration: 0.4s;

  }


  .Header input{
    border: 2px solid #2c3b4c;


  }