.article {
    color: #2c3b4c;
    padding: 20px;
    border-radius: 8px;
  }
  
  .article h1 {
    color: #2c3b4c;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .article p {
    color: #5d6f89;
    font-size: 1.1rem;
  }
  
  .badge {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  
  .article-body {
    background-color: #ffffff;
    padding: 20px;
    color: #2c3b4c;
    border-radius: 5px;
    font-size: 1.1rem;
  }
  
  .comments-section h5 {
    color: #2c3b4c;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .comments-section .bg-light {
    background-color: #e8edf4 !important;
  }
  
  .btn-like {
    background-color: #2c3b4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-like:hover {
    background-color: #27303c;
  }
  
  .btn-like.liked {
    background-color: #5d6f89; /* Change this to any color you want when liked */
    color: #FAFAFA;
  }
  
  
  
  textarea.form-control {
    border: 1px solid #5d6f89;
  }
  
  textarea.form-control:focus {
    box-shadow: none;
    border-color: #2c3b4c;
  }
  