/* TagList.css */
.taglist-container {
    padding: 10px;
    margin: 40px;
  }
  
  .tags {
    display: flex;
    gap: 10px; /* Space between the tag buttons */
    margin: 10px;
  }
  
  .tag-btn {
    background-color: #e0e0e0;
    color: #555;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .tag-btn:hover {
    background-color: #d0d0d0;
  }
  
  .active-tag {
    background-color: #3d0c0c; /* Dark color for active tag */
    color: white;
  }
  
  .tag-list-and-create-btn {
    display: flex;
    align-items: center; /* This aligns items vertically in the center */
    justify-content: space-between; /* This ensures proper spacing between tag list and the button */
    padding: 20px 0;
  }
  
  .tag-list {
    display: flex;
    gap: 10px; /* This adds space between tag buttons */
  }
  
  /* Styling for the Create Article button */
  .create-article-btn {
    margin-left: 20px;
    font-size: 14px;
  }

  